<title>SpotiTransfer</title>
<link rel="shortcut icon" href="/static/spotify-logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}"/>

<script>
    const path = window.location.href;
    if (path.split('#')[1]) {
        window.location.href = '{{ host }}? + path.split('#')[1];
    }
</script>

<div id="spotify">
    <div id="header">
        <img src="/static/spotify-logo.png" alt="spotify logo" class="spotify-logo">
        <h1 class="header-caption">SpotiTransfer</h1>
    </div>
    <div id="content">
        <a href="/spotify">
            <div class="spotify-auth">
                Авторизируйтесь
            </div>
        </a>
    </div>
</div>
